body  {
    background: #8E0E00;
    background: -webkit-linear-gradient(to left, #020641, #1607f3);
    background: linear-gradient(to left,  #020641, #1607f3);
  }
  .para {
    width: 100%;
    border: 15px solid rgb(1, 1, 15);
    padding: 70px;
    margin: 30px;
    background-color: rgb(233, 233, 244);
    animation-name: example;
    animation-duration: 10s;
  }
  /*@keyframes example {
    from {background-color: rgb(209, 218, 151);}
    to {background-color: rgb(140, 217, 195);}
    
  }*/


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(21, 22, 15);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(222, 223, 237);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    }  
    a {
        text-decoration: none;
        display: inline-block;
        padding: 10px 10px;
        align-items: center;
        }
      
      a:hover {
        background-color: #ddd;
        color: black;
        }
      
     .next {
        background-color: rgb(4, 5, 18);
        color: white;
       }
       .footer {
        padding: 10px; 
        text-align: center; 
        background: rgb(18, 16, 16)